<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Campeonato Brasileiro - Vue.js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        .escudo {
            width: 30px;
            height: 30px;
        }
    </style>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <h1>Brasileirão</h1>
        </div>
        <div class="row">
            <div class="col-md-12 pb-3">
                <button class="btn btn-primary" @click="criarNovoJogo">Novo Jogo</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" v-show="visao!='tabela'">
                <form class="form-inline">
                    <input type="text" class="form-control col-md-1" v-model="novoJogo.casa.gols"> {{novoJogo.casa.time ? novoJogo.casa.time.nome: ''}}
                    <img :src="novoJogo.casa.time ? novoJogo.casa.time.escudo: ''" class="escudo">
                    <span>X</span>
                    <img :src="novoJogo.fora.time ? novoJogo.fora.time.escudo: ''" class="escudo">
                    <input type="text" class="form-control col-md-1" v-model="novoJogo.fora.gols"> {{novoJogo.fora.time ? novoJogo.fora.time.nome: ''}}
                    <button type="button" class="btn btn-primary" @click="fimJogo">Fim de Jogo</button>
                </form>
            </div>
            <div class="col-md-12" v-show="visao === 'tabela'">
                <input type="text" class="form-control" v-model="busca">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th v-for="(coluna, indice) in ordem.colunas">
                                <a href="#" @click.prevent="ordenar(indice)">{{coluna | ucwords}}</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="time in timesFiltrados">
                            <td>
                                <img :src="time.escudo" class="escudo"> {{time.nome | ucwords}}
                            </td>
                            <td>{{time.pontos}}</td>
                            <td>{{time.gm}}</td>
                            <td>{{time.gs}}</td>
                            <td>{{time.saldo}}</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Times Classificados para libertadores</h3>
                <ul>
                    <li v-for="time in timesLibertadores">
                        <img :src="time.escudo" class="escudo"> {{time.nome | ucwords}}
                    </li>
                </ul>
                <h3>Times Rebaixados</h3>
                <ul>
                    <li v-for="time in timesRebaixados">
                        <img :src="time.escudo" class="escudo"> {{time.nome | ucwords}}
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <!-- versão de desenvolvimento, inclui avisos úteis no console  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script>
        class Time {
            constructor(nome, escudo) {
                this.nome = nome;
                this.escudo = escudo;

                this.pontos = 0;
                this.gm = 0;
                this.gs = 0;
                this.saldo = 0;
            }

            fimJogo(timeVisitante, golsMarcados, golsSofridos) {
                if (this.foiEmpate(golsMarcados, golsSofridos)) {
                    this.empate(golsMarcados.golsSofridos);
                    timeVisitante.empate(golsMarcados, golsSofridos);
                    return;
                }
                if (this.foiVitoria(golsMarcados, golsSofridos)) {
                    this.vitoria(golsMarcados, golsSofridos);
                    timeVisitante.derrota(golsMarcados, golsSofridos);
                } else {
                    this.derrota(golsMarcados, golsSofridos);
                    timeVisitante.vitoria(golsSofridos, golsMarcados);
                }
            }

            foiEmpate(golsMarcados, golsSofridos) {
                return golsMarcados === golsSofridos;
            }

            foiVitoria(golsMarcados, golsSofridos) {
                return golsMarcados > golsSofridos;
            }

            empate(golsMarcados, golsSofridos) {
                this.atualizarInfo(1, golsMarcados, golsSofridos)
            }

            vitoria(golsMarcados, golsSofridos) {
                this.atualizarInfo(3, golsMarcados, golsSofridos)
            }

            derrota(golsMarcados, golsSofridos) {
                this.atualizarInfo(0, golsMarcados, golsSofridos)
            }

            atualizarInfo(pontos, golsMarcados, golsSofridos) {
                this.pontos += pontos;
                this.gm += golsMarcados;
                this.gs += golsSofridos;
                this.saldo += this.gm - this.gs;
            }

        }
        new Vue({
            el: "#app",
            data: {
                gols: 3,
                busca: '',
                ordem: {
                    colunas: ['pontos', 'gm', 'gs', 'saldo'],
                    orientacao: ['desc', 'desc', 'asc', 'desc']
                },
                times: [
                    new Time('Palmeiras', 'assets/palmeiras_60x60.png'),
                    new Time('Internacional', 'assets/internacional_60x60.png'),
                    new Time('Flamengo', 'assets/flamengo_60x60.png'),
                    new Time('Atlético-MG', 'assets/atletico_mg_60x60.png'),
                    new Time('Santos', 'assets/santos_60x60.png'),
                    new Time('Botafogo', 'assets/botafogo_60x60.png'),
                    new Time('Atlético-PR', 'assets/atletico-pr_60x60.png'),
                    new Time('Corinthians', 'assets/corinthians_60x60.png'),
                    new Time('Grêmio', 'assets/gremio_60x60.png'),
                    new Time('Fluminense', 'assets/fluminense_60x60.png'),
                    new Time('Bahia', 'assets/bahia_60x60.png'),
                    new Time('Chapecoense', 'assets/chapecoense_60x60.png'),
                    new Time('São Paulo', 'assets/sao_paulo_60x60.png'),
                    new Time('Cruzeiro', 'assets/cruzeiro_60x60.png'),
                    new Time('Sport', 'assets/sport_60x60.png'),
                    new Time('Ceará', 'assets/ceara_60x60.png'),
                    new Time('Vitória', 'assets/vitoria_60x60.png'),
                    new Time('Vasco', 'assets/vasco_60x60.png'),
                    new Time('América-MG', 'assets/america_mg_60x60.png'),
                    new Time('Paraná', 'assets/parana_60x60.png'),
                ],
                novoJogo: {
                    casa: {
                        time: null,
                        gols: 0
                    },
                    fora: {
                        time: null,
                        gols: 0
                    }
                },
                visao: 'tabela'
            },
            computed: {
                timesLibertadores() {
                    return this.times.slice(0, 6)
                },
                timesRebaixados() {
                    return this.times.slice(16, 20)
                },
                timesFiltrados() {
                    console.log('ordenou', this.ordem);
                    var times = _.orderBy(this.times, this.ordem.colunas, this.ordem.orientacao);
                    var self = this;
                    return _.filter(times, function(time) {
                        var busca = self.busca.toLowerCase();
                        return time.nome.toLowerCase().indexOf(busca) >= 0;
                    })
                }
            },
            methods: {
                showAlert() {
                    alert('Fim de Jogo')
                },
                pegarValor($event) {
                    console.log($event)
                },
                criarNovoJogo() {
                    var indiceCasa = Math.floor(Math.random() * 20),
                        indiceFora = Math.floor(Math.random() * 20)

                    this.novoJogo.casa.time = this.times[indiceCasa];
                    this.novoJogo.casa.gols = 0;
                    this.novoJogo.fora.time = this.times[indiceFora];
                    this.novoJogo.fora.gols = 0;
                    console.log(this.novoJogo);
                    this.visao = 'placar';
                },
                fimJogo() {
                    var golsMarcados = parseInt(this.novoJogo.casa.gols);
                    var golsSofridos = parseInt(this.novoJogo.fora.gols);
                    var timeAdversario = this.novoJogo.fora.time;
                    var timeCasa = this.novoJogo.casa.time;
                    timeCasa.fimJogo(timeAdversario, golsMarcados, golsSofridos);
                    this.visao = 'tabela';
                },
                ordenar(indice) {
                    this.$set(this.ordem.orientacao, indice, this.ordem.orientacao[indice] == 'desc' ? 'asc' : 'desc')
                }
            },
            filters: {
                saldo(time) {
                    return time.gm - time.gs;
                },
                ucwords(valor) {
                    return valor.charAt(0).toUpperCase() + valor.slice(1);
                }
            }
        });
    </script>
</body>

</html>